////
// Styles for WordPress admin meta boxes
////
.uwmemc-meta-box {
  padding: ($base * 2);

  // #side-sortables is used throughout to add styles
  // for when the meta box is shown in the side bar
  #side-sortables & {
    padding: 0;
  }

  .input-group {
    margin-bottom: ($base * 2);

    &:last-of-type {
      margin-bottom: 0;
    }

    label {
      font-weight: $global-weight-bold;
      font-size: ($base * 2);
      display: inline-block;
      width: 12%;

      svg {
        margin: 0 $base;
      }

      #side-sortables & {
        display: block;
        width: 100%;
      }
    }

    input[type="text"],
    select {
      font-size: ($base * 2);
      line-height: ($base * 3);
      width: 30%;

      #side-sortables & {
        display: block;
        width: 100%;
      }
    }
  
    &.input-group-full {

      label {
        display: block;
        width: 42%;
        margin-bottom: $base;
      }
      
      textarea {
        width: 42%;
        font-size: ($base * 2);
        padding: $base;
      }
    }

    .help-text {
      display: block;
      width: 100%;
      color: $dark-gray;
      font-size: ($base * 1.75);
      font-style: italic;
      font-weight: $global-weight-normal;
      margin-left: 40px;
    }
  }

  hr {
    margin-top: ($base * 4);
    margin-bottom: ($base * 2);
  }
}