////
// People page styles
////
.directory {
  @include gallery;

  .directory-container {
    @include gallery-container;
    justify-content: flex-start;
  }

  .directory-item {
    @include gallery-tile(
      $sizes: ('small': 12, 'large': 9),
      $gutter: 0
    );
    border-bottom: 4px dotted $warning-color;
    margin: 0;
    
    @include breakpoint(large) {
      border-bottom: 8px dotted $warning-color;
    }
  }

  .member-content {
    @include tile-container($padding: ($base * 6));
    padding-left: ($base * 4);
    padding-right: ($base * 4);
  }

  .member-portrait {
    float: left;
    width: 100%;
    height: ($base * 24);
    text-align: center;
    
    @include breakpoint(medium) {
      display: inline-block;
      width: auto;
      height: auto;
      text-align: left;
      margin-right: ($base * 5);
      margin-bottom: ($base * 3);
    }

    img {
      @include img-dot;
      height: 100%;
      width: auto;
    }
  }

  .member-info {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    
    @include breakpoint(medium) {
      margin-left: ($base * 5);
      text-align: left;
      display: block;
      width: auto;
    }
  
    .member-name {
      margin: 0;
      margin-top: ($base * 2);

      @include breakpoint(large) {
        margin: 0;
        margin-bottom: $base;
      }
    }

    .member-title {
      font-weight: $global-weight-bold;
      line-height: 1.4rem;
    }

    .member-research {
      margin-top: ($base * 2);
      text-align: left;
    }

    .spacer {
      height: 100%;
      margin: 0 ($base * 1.75);
      border-left: 2px dotted $primary-color;
      
      @include breakpoint(medium) {
        border-left: 4px dotted $primary-color;
      }
    }
  
    .member-tags {
      margin-bottom: ($base * 2);
    }
  }

  .label {
    @include label;
    color: $white;
    font-weight: $global-weight-bold;
    margin-right: $base;
    margin-bottom: $base;

    &.label-irg-1 {
      background-color: $warning-color;
    }

    &.label-irg-2 {
      background-color: $alert-color;
    }

    &.label-department {
      background-color: $secondary-color;
    }
  }
}