////
// Article base styles.
////
@mixin article-base {
  @include container;
  margin-bottom: ($base * 10);
  width: 100%;
  padding: 0 ($base * 2);

  @include breakpoint(large) {
    width: 70%;
    padding: 0;
  }
}

@mixin article-section-base {
  display: flex;
  flex-flow: column nowrap;

  // Force any figures in an article section to the end
  // of that element on small devices.
  .figure {
    order: 1;
  }

  @include breakpoint(medium) {
    display: block;
  }
}


.article {
  @include article-base;
}

.article-section {
  @include article-section-base;
}