////
// Breadcrumbs base styles
////
@mixin breadcrumbs-base {
  @include article-base;
  margin: ($base * 4) auto 0;
  font-size: ($base * 2);
  font-weight: $global-weight-normal;
  
  a {
    font-weight: $global-weight-normal;
  }
}


.breadcrumbs {
  @include breadcrumbs-base;
}