////
// Button base styles
////

// Base button styles for formatting all buttons.
@mixin button-base {
  @include disable-mouse-outline;
  padding: ($base * 2) ($base * 3);
  margin-right: ($base * 2);
  border-radius: 100px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: ($base * 0.5);
  cursor: pointer;
}

// Button filled with primary color.
@mixin button-primary {
  @include button(false, $primary-color, $alert-color, $white, solid);

  &:hover {
    animation: multicolorBackground 1s linear;
  }
}

// Hollow button with primary color.
@mixin button-primary-hollow {
  @include button(false, $primary-color, $alert-color, $white, hollow);

  &:hover {
    color: $alert-color;
    border-color: $alert-color;
    animation: multicolorText 1s linear, multicolorBorder 1s linear;
  }
}


.btn {
  @include button-base;
  
  &.btn-primary {
    @include button-primary;
  }
  
  &.btn-primary-hollow {
    @include button-primary-hollow;
  }

  &.btn-full {
    display: block;
    width: 100%;
  }

  &.btn-center {
    width: 100%;
    display: block;
    margin: 0 auto;

    @include breakpoint(medium) {
      width: 40%;
    }
  }
}

// Format links as buttons
a.btn-primary {
  &:hover {
    border: 0;
  }
}