////
// Gallery component styles.
////

// Generate the container to hold the gallery.
@mixin gallery {
  position: relative;
}

// Generate a fixed background image for the gallery.
@mixin gallery-background-img($url) {
  @include parallax-fixed-background($url, 0.2);
}

// Generate the main container of the gallery content.
@mixin gallery-container {
  @include container;
  @include grid;
  justify-content: space-around;

  // Keep headers 100% width so they do not wrap with other flex items.
  h1, h2, h3, h4, h5, h6 {
    width: 100%;
  }
}

// Generate a title for the gallery.
@mixin gallery-title {
  text-align: center;
  width: 100%;
}


////
// Gallery-Dot : Base Styles
////

// Generate a gallery-dot item.
@mixin gallery-dot($size) {
  width: ($base * $size);
  height: ($base * $size);
  padding: ($base * 4);
  margin-bottom: ($base * 7);
  background-color: $white;
  border-radius: 100%;
  box-shadow: 3px 3px 10px 3px $medium-gray;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

// Generate a gallery-dot item image.
@mixin gallery-dot-img($size) {
  border-radius: 100%;
  height: ($base * $size);
}

// Generate a gallery-dot header.
@mixin gallery-dot-header {
  margin-top: ($base * 2);
  margin-bottom: 0;
  font-size: 1.4rem;
}

// Generate a gallery-dot subheader.
@mixin gallery-dot-subheader {
  color: $dark-gray;
  line-height: 1.2;
}


////
// Gallery-Tile : Base Styles
////

// Generate a gallery-tile item.
@mixin gallery-tile(
  $sizes: ('small': 12),
  $gutter: 0,
  $height: ('small': auto)
) {
  @include cell($sizes, $gutter);
  margin-bottom: ($gutter / 2);
  position: relative;
  height: map-get($height, 'small');
  
  @include breakpoint(medium) {
    margin-bottom: $gutter;
    @if map-has-key($height, 'medium') {
      height: map-get($height, 'medium');
    }
  }

  @if map-has-key($height, 'large') {
    @include breakpoint(large) {
      height: map-get($height, 'large');
    }
  }
}

// Generate a gallery-tile container.
@mixin tile-container(
  $padding: ($base * 3)
) {
  position: relative;
  background-color: $white;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  padding: $padding $padding 0;
  border-bottom: $padding solid $white; // to hide overflow text
}

// Generate a gallery-tile container for a left-sided tile-tag.
@mixin tile-container-tag-left(
  $tag-width: 30%,
  $padding: ($base * 3)
) {
  @include tile-container($padding);
  float: right;
  width: (100% - $tag-width);
  padding-left: 0;
}

// Generate a gallery-tile container for a right-sided tile-tag.
@mixin tile-container-tag-right(
  $tag-width: 30%,
  $padding: ($base * 3)
) {
  @include tile-container($padding);
  float: left;
  width: (100% - $tag-width);
  padding-right: 0;
}

// Generate base styles for a gallery-tile tag.
@mixin -tile-tag-base($width: 30%) {
  background-color: $white;
  text-align: center;
  height: 100%;
  width: $width;
}

// Generate a left-sided gallery-tile tag.
@mixin tile-tag-left($width: 30%) {
  @include -tile-tag-base($width);
  border-radius: 1000px 0 0 1000px;
  float: left;
}

// Generate a right-sided gallery-tile tag.
@mixin tile-tag-right($width: 30%) {
  @include -tile-tag-base($width);
  border-radius: 0 1000px 1000px 0;
  float: right;
}

// Generate a gallery-tile header.
@mixin tile-header {
  margin: $base 0;
  font-size: ($base * 2.2);
  line-height: ($base * 3.2);

  @include breakpoint(medium) {
    font-size: ($base * 3);
    line-height: ($base * 4);
  }
}

// Generate a gallery-tile content container.
@mixin tile-content {
  line-height: ($base * 3.2);

  @include breakpoint(medium) {
    line-height: ($base * 4);
  }
}

// Generate a gallery-tile link component.
@mixin tile-link($right-offset: 0) {
  width: 100%;
  background-image: linear-gradient(to left, $white 50%, rgba($white,0.5));
  text-align: right;
  position: absolute;
  bottom: 1px; // give clearance to border-bottom on link:hover
  right: $right-offset;
}

// Generate a date display container.
@mixin date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

// Generate the date display month.
@mixin date-month {
  text-transform: uppercase;
  font-weight: $global-weight-bold;
  font-size: ($base * 2);

  @include breakpoint(medium) {
    font-size: ($base * 4);
  }
}

// Generate the date display day.
@mixin date-day {
  background-color: $warning-color;
  border-radius: 100%;
  color: $white;
  text-align: center;
  font-weight: $global-weight-bold;
  width: ($base * 6);
  height: ($base * 6);
  line-height: ($base * 6);
  font-size: ($base * 3);
  
  @include breakpoint(medium) {
    width: ($base * 10);
    height: ($base * 10);
    line-height: ($base * 10);
    font-size: ($base * 5);
  }
}