////
// Pagination styles.
////

// Base styles for a pagination container and its items
@mixin pagination-base-container (
  $margin-bottom: $pagination-margin-bottom,
  $font-size: $pagination-font-size,
  $spacing: $pagination-item-spacing,
  $radius: $pagination-radius,
  $color: $pagination-item-color,
  $padding: $pagination-item-padding,
  $background-hover: $pagination-item-background-hover
) {
  @include clearfix;
  margin-#{$global-left}: 0;
  margin-bottom: $margin-bottom;

  li,
  .page-numbers {
    margin-#{$global-right}: $spacing;
    border-radius: $radius;
    font-size: $font-size;
    height: ($base * 6);
    min-width: ($base * 6);
    line-height: ($base * 6) - 4;
    text-align: center;

    @if $pagination-mobile-items {
      display: inline-block;
    }
    @else {
      display: none;

      &:last-child,
      &:first-child {
        display: inline-block;
      }

      @if $pagination-mobile-current-item {
        &.current {
          display: inline-block;
        }
      }

      @include breakpoint(medium) {
        display: inline-block;
      }
    }
  }

  a,
  button {
    display: block;
    padding: $padding;
    border-radius: $radius;
    color: $color;
    border: 1px solid $medium-gray;
    transition: transform 1s ease-in-out;

    &:hover {
      color: $white;
      transform: scale(1.2);
      border: 1px solid $alert-color;
      background-color: $alert-color;
      animation: multicolorBackground 1s linear, multicolorBorder 1s linear;
    }
  }
}

// Base pagination container and item styles.
@mixin pagination-base {
  @include pagination-base-container;
  text-align: center;
}

// Base styles for current pagination item.
@mixin pagination-current-base {
  @include pagination-item-current;
  font-weight: $global-weight-bold;
}

// Base styles for disabled pagination item.
@mixin pagination-disabled-base {
  @include pagination-item-disabled;
}

// Base styles for pagination ellipsis.
@mixin ellipsis-base {
  @include pagination-ellipsis;
  background-image: url('../img/icons/ellipsis.png');
  color: $primary-color;
}


.pagination {
  @include pagination-base;

  .current {
    @include pagination-current-base;
  }

  .disabled {
    @include pagination-disabled-base;
  }
  
  .dots,
  .ellipsis {
    @include ellipsis-base;
  }

  .next,
  .prev {
    width: ($base * 14);
    text-transform: lowercase;
    font-weight: $global-weight-normal;

    &:hover {
      transform: none;
    }
  }
}