////
// Forms and inputs base styles
////

// Form styles
@mixin base-form {
  @include cell(('small': 12, 'large': 8));
}

@mixin base-form-horizontal {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  label {
    width: 100%;

    @include breakpoint(medium) {
      @include -cell-width(6, ($base * 3));
    }
  }
}

// Fieldset styles.
@mixin base-fieldset {
  border-top: 4px dotted $warning-color;
  margin-top: ($base * 6);
  padding: 0 ($base * 2);

  @include breakpoint(large) {
    border-top: 8px dotted $warning-color;
  }

  legend {
    margin: 0;
    font-size: rem-calc($base * 4);
    font-weight: $global-weight-bold;
    padding-right: ($base * 2);
    color: $primary-color;
  }
}

// Input styles.
@mixin base-input {
  height: ($base * 6);
  margin: ($base * 0.5) 0 ($base * 2);
  padding: 0 ($base * 3);
}

// Invalid input styles.
@mixin base-input-invalid {
  border-color: $alert-color;
}

// Textarea styles.
@mixin base-textarea {
  padding: ($base * 3);
  min-height: ($base * 20);
  border-radius: ($base * 5);
  font-size: rem-calc(20);
  resize: vertical;
}

// Select styles.
@mixin base-select {
  border-radius: 100px;
  font-size: rem-calc(20);
  color: $medium-gray;

  // Change position and size of triangle.
  background-size: ($base * 6) ($base * 1.5);

  &[multiple] {
    padding: ($base * 3);
    border-radius: ($base * 5);
  }
}

// Generate component to group radio and checkbox elements together.
@mixin radio-group {
  position: relative;
  border: none;
  background-color: $light-gray;
  border-radius: ($base * 5);
  padding: ($base * 2) ($base * 4);
  margin: ($base * 6) 0 ($base * 2);

  legend {
    position: absolute;
    top: -($base * 4);
    left: 0;
    font-size: rem-calc(16);
    font-weight: $global-weight-bold;
    color: $black;
  }

  label {
    font-weight: $global-weight-normal;
    margin-left: $base;
    margin-right: ($base * 4);
  }

  input {
    margin: 0;
  }

  // Allow radio items to be displayed inline.
  &.inline-group .radio-item {
    display: inline-block;
  }
}

// Base styles for a Foundation input element
@mixin base-input-zf {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 2.8125rem;
  margin: 0 0 1rem;
  padding: 0.5rem;
  border: 3px solid $light-gray;
  border-radius: 100px;
  background-color: $light-gray;
  box-shadow: none;
  font-family: inherit;
  font-size: 1.25rem;
  font-weight: normal;
  line-height: 1.5;
  color: #4b2e83;
  transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  appearance: none;

  &:focus {
    outline: none;
    border: 3px solid $primary-color;
    background-color: $white;
    box-shadow: none;
    transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  }
}


.form {
  @include base-form;
}

.form-horizontal {
  @include base-form-horizontal;
}

fieldset {
  @include base-fieldset;
}

[type='text'],
[type='password'],
[type='date'],
[type='datetime'],
[type='datetime-local'],
[type='month'],
[type='week'],
[type='email'],
[type='number'],
[type='search'],
[type='tel'],
[type='time'],
[type='url'],
[type='color'],
textarea,
select {
  @include base-input;
}

[type='file'] {
  background-color: $light-gray;
  border-radius: 100px;
  padding: ($base * 2) ($base * 3);
}

textarea {
  @include base-textarea;
}

select {
  @include base-select;
}

.radio-group,
.checkbox-group {
  @include radio-group;
}